    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="logo" src="https://lumencube.s3.amazonaws.com/2015/Dec/cube-1450124478918.png" alt="" />
                        <h1 class="brand-heading">&nbsp;</h1>
                        <p class="intro-text">{{ content }}</p>
                        {% capture slug %}{% for page in site.data.components | sort: "slug" %}{% if forloop.first %}{{ page.slug }}{% endif %}{% endfor %}{% endcapture %}
                        <a href="#{{ slug }}" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
